
<label>Cliente</label>
<%= select_tag "select_usuarios", options_from_collection_for_select(@usuarios, "id", "name"), :include_blank => true , class: "form-control form-control-lg"
 %>

<script>
	$(document).ready(function() { 
		$('#select_usuarios').select2({
				placeholder: "Seleccione un Usuario",
				allowClear: true,
				style: "min-width: 100%"
			});
	})
</script>